DB_USER=root
DB_PASSWORD=root
DB_HOST=localhost
DB_PREFIX=wp_

WP_ADMIN_USER=wp
WP_ADMIN_PASSWORD=test
WP_ADMIN_EMAIL=admin@admin.gr
LTD=test

HOMEBREW_DIRECTORY=/usr/local

SITES_DIRECTORY=/Users/me/Sites
HOME_DIRECTORY=/Users/me
LOCAL_WOO_PATH=/Users/me/Repos/woocommerce/plugins/woocommerce
LOCAL_DUMMY_PATH=/Users/me/Repos/woocommerce-gateway-dummy
